/*****************/
/**** General ****/
/*****************/

body {
	padding: 0;
	color: #333; 
	text-align: center; 
	font: normal 0.6em sans-serif,Arial;
}

html, body {
  height: 100%;
  margin: 0;
}

.page {
	min-height: 100%;
	margin-bottom: -150px;
}
#push-header {
	height: 50px;
}
#push-footer {
	height: 160px;
}
/******************/
/**** Menu Bar ****/
/******************/

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	height: 50px;
}

a#navbar-header {
	position: relative;
	display: inline-block;
	color: white;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
}
a#navbar-header:hover {
	color: blue;
}

.dropdown {
	position: relative;
	display: inline-block;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
/* Change color of header on hover */
.dropdown:hover .dropdown-header {
	background-color: blue;
}
/* Change color of dropdown-content on hover */
.dropdown-content a:hover {
	background-color: blue;
	color: white;
}

.dropdown-header {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	font-size: 14px;
	min-width: 160px;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
	/*padding: 12px 16px;*/
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/****************/
/**** Footer ****/
/****************/

.footer {
	padding: 5px;
	font-size: 18px;
	background-color: black;
	width: 100%;
}

.footer-vert-block {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 8px;
	font-size: 20px;
	width: 45%;
	vertical-align: top;
}

.footer-vert-block a {
	color: gray;
	text-decoration: none;
	vertical-align: center;
	font-size: 16px;
}
.footer-vert-block a:hover {
	color: white;
}
.footer-vert-block h1 {
	color: blue;
	font-size: 24px;
	padding: 5px;
	margin:2px;
}
.footer-vert-block p {
	color: white;
	font-size: 16px;
	padding: 0px;
}

.copyright-footer {
	font-size: 10px;
	color: gray;
}
.copyright-footer a {
	text-decoration: none;
	color: gray;
}
.copyright-footer a:hover {
	text-decoration: none;
	color: white;
}
.social-links {
	margin: 5px auto; 
	text-align: center;
}

/********************/
/**** Top Image *****/
/********************/

.header-image img {
	font-size: 50px;
	color: blue;
	background-color: purple;

}

/*********************/
/**** News Slider ****/
/*********************/

.news-slider h1 {
	font-size: 30px;
}
.news-slider h2 {
	font-size: 20px;
}

.article {
	margin: 20px;
	padding: 10px;
	background-color: red;
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

.article-header {
	font-size: 20px;
	color: green;

}

.article-body{
	color: blue;
	font-size: 16px;
}

/*****************/
/**** Content ****/
/*****************/

.content {
	align: center;
}

.content h1 {
	font-size: 40px;
	padding: 0;
	margin: 10px;
}
.content h2 {
	font-size: 30px;
	padding: 0;
	margin: 8px;
}
.content h3 {
	font-size: 26px;
	padding: 0;
	margin: 5px;
	margin-top: 10px;
}
.content h4 {
	font-size: 20px;
	padding: 0;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 2px;
}
.content p {
	font-size: 18px;
	color: black;
}
.content a {
	font-size: 18px;
	color: black;
	text-decoration: none;
}
.content a:hover {
	color: blue;
}

table#contact-table td {
	font-size: 20px;
	padding: 10px;
}

table#contact-table a {
	font-size: 16px;
}

table#fees-table tr,td {
	padding: 5px;
	text-align:left; 
	font-size:16px;
	border: 1;
}
